<h2><%= @client.name %></h2> 

<p><%= @client.cash%></p>

<% @client.client_stocks.each do |stock| %>
	<p>Stock Name: <%= link_to stock.name, stock %></p>
	<p>Share Price: <%= stock.shareprice * stock.stock_quantity %></p>
<% end %>